html {
    text-align: center;
    width: 500px;
    background-color: rgb(255, 255, 214);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    max-width: 300px;
}

th {
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 166);
}

th, td {
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

tbody {
    text-align: right;
    vertical-align: middle;
}

tr {
    height: 35px;
}

tr:nth-child(even) {
    background-color: rgb(255, 255, 166);
}

.icon {
    align-items: center;
}

.change:hover {
    background-color: rgb(100, 253, 100);
}

.delete:hover {
    background-color: rgb(255, 100, 100);
}

textarea {
    height: 20px;
    width: 185px;
    position: absolute;
    left: 230px;
}

.container {
    text-align: left;
    margin-left: 15px;
    padding: 10px;

}

.text-input {
    padding: 10px;
}

#continue {
    position: relative;
    left: 265px;
}

.button {
    margin: 10px;
}

.box {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

